
                <!-- A single blog post -->
                <section class="post-card postContainer">
                    <header class="post-header">
                        <h1 id="post-title">{{title}}</h1>
                    </header>

                    <div class="post-description">
                        <p>
                            
                        </p>
                    </div>
                            {{age}},
                            {{location}}
                        </p>
                    </div>
                    <p>
                        Post made by: {{user.username}} on {{{format_date}}}
                    <p>
                </section>