
                <!-- A single blog post -->
                <section class="post-card postContainer">
                    <header class="post-header">
                        {{!-- <h1 id="post-title">{{post.title}}</h1> --}}
                    </header>

                    <div class="post-description">
                        <ul class="post-preview">
                            {{#each posts }}
                            <li>{{first_name}} {{last_name}}</li>
                            <li>{{post.city}}</li> 
                        </ul>
                    </div>
                    <p class="post-subtitle">
                        Post made by: {{user.name}} on {{{format_date}}}
                    <p>
                </section>
                        {{/each}} 
                <section class="post-card postContainer">
                    <header class="post-header">
                        <h1 id="post-title">DUMMY TITLE</h1>
                    </header>

                    <div class="post-description">
                        <ul class="post-preview">
                            <li>someone's name</li>
                            <li>city, state</li>
                        </ul>
                    </div>
                    <p class="post-subtitle">
                        Post made by: {{user.username}} on {{{format_date}}}
                    <p>
                </section>